.boardListItem {
  width: 870px;
  height: 200px;
  display: block;
  margin: 13px auto;
  border-radius: 7px;
  box-shadow: 2px 2px 5px 1px #e7e7e7;
  background: white;
  max-width: 900px;
}

.boardListItem * {
  text-decoration: none;
  text-align: left;
}

.boardListItem:hover {
  box-shadow: 2px 2px 5px 1px #d4d1d1;
  transition: all 0.6s;
}

.boardItem {
  height: 100%;
  width: 100%;
  color: black;
  overflow: hidden;
  transition: all 0.4s;
  position: relative;
}

.bFeelIcon {
  height: 200px;
  position: absolute;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 200px;
}

.bFeelIcon > img {
  height: 130px;
  margin: 34px 26px 5px 36px;
}

.bContents {
  height: 250px;
  padding: 27px 30px 0 40px;
  position: absolute;
  left: 200px;
}

.bTitle > h3 {
  font-size: 20px;
  display: inline-block;
}

.bText {
  margin: 9px 0 33px 0;
  height: 68px;
  display: flex;
  align-items: center;
}

.bText p {
  width: 100%;
}

.bWriterInfo {
  padding: 10px 0 10px 15px;
  display: inline-block;
  color: #818181;
}

.bDateInfo {
  opacity: 0;
}
