.bBTitleBox {
  background: #fff7b0;
  height: 350px;
  position: relative;
}

.bBTitle > h1 {
  font-weight: 600;
  font-size: 40px;
}

.bBTitle {
  width: 900px;
  position: absolute;
  top: 170px;
  left: 435px;
  text-align: left;
}

.bBInfo {
  font-size: 16px;
  width: 400px;
  display: inline-block;
  position: absolute;
  top: 240px;
  left: 450px;
  text-align: left;
}

.bBContent {
  width: 900px;
  margin: 0 auto;
  padding: 60px 0;
  font-size: 18px;
  line-height: 35px;
  position: absolute;
  left: 440px;
}

.bDetailBtnBox {
  position: absolute;
  top: 240px;
  right: 370px;
}

.bUpdateBtn {
  text-decoration: none;
  color: black;
}

.bDeleteBtn {
  background: none;
  border: none;
  font-size: 15px;
}

.bBtn {
  margin: 0 5px;
}
