.boardListItem {
  width: 340px;
  height: 415px;
  display: inline-block;
  margin: 13px;
  border-radius: 7px;
  box-shadow: 6px 7px 5px 1px #e7e7e7;
}

.boardListItem * {
  text-decoration: none;
}

.boardListItem:hover {
  box-shadow: 6px 7px 5px 1px #d4d1d1;
}

.boardItem {
  height: 100%;
  width: 100%;
  color: black;
  overflow: hidden;
  padding-top: 65px;
  transition: all 0.4s;
}

.bFeelIcon {
  height: 170px;
}

.bFeelIcon > img {
  height: 130px;
  margin-top: 30px;
}

.bContents {
  height: 250px;
  padding: 27px 30px 0 30px;
}

.bTitle > h3 {
  font-size: 20px;
}

.bText {
  margin: 9px 0 33px 0;
  height: 68px;
  opacity: 0;
  display: flex;
  align-items: center;
}

.bText p {
  width: 100%;
}

.bWriterInfo {
  padding: 10px;
}

.bDateInfo {
  opacity: 0;
}

.boardListItem:hover .bText,
.boardListItem:hover .bDateInfo {
  opacity: 1;
  transition: all 0.6s;
}

.boardListItem:hover .boardItem {
  padding-top: 0px;
  transition: all 0.6s;
}
