.card {
    background-color: black;
    color: black;
    width: 250px;
    padding: 20px;
    height: 320px;
    border-radius: 10px;
    margin: 15px;
}

.union {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-size: cover;
}