.hbBoardListItem {
  width: 340px;
  height: 415px;
  display: inline-block;
  margin: 5px;
  border-radius: 7px;
}

.hbBoardListItem * {
  text-decoration: none;
}
.hbBoardItem {
  height: 100%;
  width: 100%;
  color: black;
}

.hbFeelIcon {
  height: 170px;
}

.hbFeelIcon > img {
  height: 130px;
  margin-top: 30px;
}

.hbContents {
  height: 250px;
  padding: 27px 30px 0 30px;
}

.hbTitle > h3 {
  font-size: 20px;
}

.hbText {
  margin: 15px 0;
}

.hbInfo {
}

.hbBRD {
}

.hbFT {
}
