.hbBoardListItem {
  width: 340px;
  height: 415px;
  display: inline-block;
  margin: 5px;
  border-radius: 7px;
}

.hbBoardListItem * {
  text-decoration: none;
}
.hbBoardItem {
  height: 100%;
  width: 100%;
  color: black;
  overflow: hidden;
  padding-top: 65px;
  transition: all 0.4s;
}

.hbFeelIcon {
  height: 170px;
}

.hbFeelIcon > img {
  height: 130px;
  margin-top: 30px;
}

.hbContents {
  height: 250px;
  padding: 27px 30px 0 30px;
}

.hbTitle > h3 {
  font-size: 20px;
}

.hbText {
  margin: 23px 0;
  height: 100px;
  opacity: 0;
}

.hbInfo {
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

.hbBoardListItem:hover .hbText,
.hbBoardListItem:hover .hbInfo {
  opacity: 1;
  transition: all 0.6s;
}

.hbBoardListItem:hover .hbBoardItem {
  padding-top: 0px;
  transition: all 0.6s;
}
