section {
  padding: auto;
  background-color: #fefff9;
}

.hb {
  width: 250px;
  height: 300px;
  display: inline-block;

  margin: 50px;
  padding-top: 130px;
  padding-right: 50px;

  background-image: url("/public/img/fullHB.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* 세션에 있는 h1만 조절 */
section h1 {
  padding-top: 15px;
}

/* 브랜드 명 */
.hb > h5 {
  padding-bottom: 7px;
  color: gray;
}

/* 저금통 이름 */
.hb > h4 {
  padding-top: 15px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

/* 개봉날짜 */
.hb > p {
  font-size: 12px;
  padding-bottom: 80px;
  color: #daa37c;
}

.btn1 {
  width: 150px;
  height: 50px;
  border: 0;
  font-size: 25px;
  border-radius: 5px;
  background: #f6a89e;
  color: white;
  font-weight: 500;
}

.btn2 {
  width: 70px;
  height: 50px;
  line-height: 50px;
  border: 0;
  font-size: 25px;
  border-radius: 5px;
  background: #f6a89e;
  color: white;
  font-weight: 500;
}
/* 애니메이션 */
.hb:hover {
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}
