.hbUp {
  padding: auto;
  margin-top: 50px;
}

.hbUpForm {
  width: 400px;
  height: 600px;
  background-image: url("/public/img/binHB.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.hbUp input[type="text"] {
  width: 300px;
  height: 70px;
  border: 0;
  box-shadow: 0px 0px 4px 3px #c5c5c5;
  text-align: center;
  font-size: 50px;
  margin-top: 330px;
  margin-bottom: 200px;
}

.hbUpForm table {
  margin-top: 30px;
}
.hbUp .btn_1 {
  width: 200px;
  height: 50px;
  border: 0;
  font-size: 25px;
  border-radius: 5px;
  background: #f6a89e;
  color: white;
  font-weight: 500;
}

.hbUp .btn_2 {
  width: 200px;
  height: 50px;
  border: 0;
  font-size: 25px;
  border-radius: 5px;
  background: #cfcfcf;
  color: white;
  font-weight: 500;
  padding: -14px -20px;
}
