.navbar {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  color: #e39764;
  background-image: url("/public/img/Banner.png");
  background-size: cover;
  transition: all 0.4s;
}

.scrollNav {
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  border-bottom: #242222;
}

.navbar-logo {
  color: rgb(229 121 48);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 105px;
}

.nav-links {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

/* .nav-links:hover {
  border-bottom: 4px solid rgb(0, 0, 0);
  transition: all 0.2s ease-out;
} */

.fa-bars {
  color: rgb(0, 0, 0);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: flex-start;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    opacity: 95%;
  }

  .nav-links {
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    /* display: block; */
    height: 50px;
    line-height: 50px;
    background: white;
    padding-left: 5%;
    color: #e57c34;
    font-size: 1.8rem;
    border-top: 1px solid #f2f2f2;
  }

  /* .nav-links:hover {
    background-color: rgb(255, 255, 255);
    color: #242424;
    border-radius: 0;
  } */

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 63%;
    text-decoration: none;
    font-size: 1.5rem;
    background: rgb(234 177 137);

    color: rgb(255 255 255);
    padding: 14px 20px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background-color: #e39764;
    color: #ffffff;
    transition: 250ms;
  }
}
