.iconBox {
  background: #fff3f3;
}

.iconBox img {
  width: 140px;
}

.iconBox > h3 {
  font-size: 32px;
  padding: 40px 0;
}

.iconRow {
  display: flex;
  justify-content: space-evenly;
  width: 1300px;
  margin: 27px auto 10px auto;
}

.txtRow {
  display: flex;
  justify-content: space-evenly;
  width: 1300px;
  margin: 0 auto 50px auto;
}

.iconTxtBox {
  width: 174px;
}

.iconItemImg {
  width: 150px;
  height: 150px;
}

.iconItemImg:hover > img {
  filter: drop-shadow(2px 4px 6px #adadad);
  transition: all 0.4s;
  width: 142px;
  animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce {
  100% {
    margin-top: -5px;
  }
}

.iconDetail {
  padding-top: 12px;
}

.dailyLifeIntro > h3 {
  font-size: xx-large;
  padding-top: 100px;
  padding-bottom: 40px;
}

.dailyLifeIntro > p {
  padding-bottom: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.dailyLifeIntro > img {
  width: 58%;
  margin-bottom: 180px;
}

.footerInfo {
  background: #fee5e5;
  height: 140px;
  margin-top: 90px;
}

.footerInfo h2 {
  padding: 30px 0 15px 0;
}

.teamInfo > span > a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
