@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

body {
  background-color: #fefff9;
}

body * {
  font-family: "Gowun Dodum", sans-serif;
}

.navMargin {
  height: 69px;
}

.low {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.colum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home,
.BoardInsert,
.HBOpen,
.Login {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.BoardInsert {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.HBOpen {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.Login {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.footer {
  margin-top: auto;
}

.footer .linkBox {
  opacity: 0;
}

.footer :hover {
  opacity: 1;
}
